body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

#sidebar-div {
    width: 32%;
    background-image: url(side.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#logo-div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#logo-img {
    height: 100%;
}

#logo-text {
    color: white;
    font-size: 72px;
    margin: 0;
    font-family: 'Norse';
}

#credit-text {
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    align-self: center;
    padding: 4px 12px;
    font-size: 0.8rem;
}

#credit-text a {
    color: white;
}

main {
    background-color: rgb(246, 255, 252);
    display: flex;
    align-items: center;
}

#main-div > p {
    margin: 20px 64px 20px 32px;
}

#form-div {
    background-color: white;
    padding: 16px 32px;
    margin: 48px 0 24px 0;
}

#form-div p {
    margin-top: 0;
}

.submit-btn {
    margin-bottom: 10px;
    margin-left: 32px;
}