body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

#sidebar-div {
    min-width: 375px;
    width: 75%;
    max-width: 500px;
    background-image: url(side.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#logo-div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#logo-img {
    height: 100%;
}

#logo-text {
    color: white;
    font-size: 72px;
    margin: 0;
    font-family: 'Norse';
}

#credit-text {
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    align-self: center;
    padding: 4px 12px;
    font-size: 0.7rem;
}

#credit-text a {
    color: white;
}

main {
    background-color: rgb(246, 255, 252);
    display: flex;
    align-items: center;
    color: rgb(34, 34, 34);
}

#main-div > p {
    margin: 20px 128px 20px 32px;
}

.bold-text {
    font-weight: bold;
    font-size: 1.2rem;
}

form > div {
    background-color: white;
    padding: 16px 32px 32px;
    margin: 48px 0 24px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

form > div p {
    margin-top: 0;
}

#form-div {
    display: flex;
    gap: 16px 56px;
    flex-wrap: wrap;
}

.form-field {
    width: 215px;
}

.form-field label {
    display: block;
    font-size: 0.85rem;
    letter-spacing: 0.6px;
    font-variant-caps: all-small-caps;
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.form-field input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
    padding: 0.3rem 0.4rem;
}

.form-field input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.form-field input:invalid {
    outline: none;
    border: 1px solid red;
}

.submit-btn {
    margin-bottom: 10px;
    margin-left: 32px;
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 12px 42px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #859f6e;
}

#footer-text {
    font-size: 0.9rem;
}

#login-text {
    color: #596D48;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

#login-text:hover {
    color: #859f6e;
}